legacy-peer-deps=true

@providertrust:registry=https://npm.pkg.github.com/providertrust
//npm.pkg.github.com/:_authToken=VAR_NPM_PASSWORD

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=VAR_FONTAWESOME_TOKEN